/*form colors*/

/* label color */
   .input-field label {
     color: #FFF !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FFE !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FFE !important;
     box-shadow: 0 1px 0 0 #FFE !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #FFF !important;
     box-shadow: 0 1px 0 0 #FFF !important;
   }
   /*textfield*/
   .materialize-textarea:focus {
   	 border-bottom: 1px solid #FFF !important;
     box-shadow: 0 1px 0 0 #FFF !important;
   }

#right {
   float: right;
}

.delete:hover {
   background-color: #000;
   cursor: pointer;
}